* {
  text-decoration: none;
  outline: 0; }

html, body {
  height: 100%; }

html {
  text-rendering: optimizeLegibility; }

body {
  background: #f4f8f9;
  min-height: 100%;
  overflow: auto;
  padding-bottom: 15rem;
  margin: 0 auto;
  font-size: 15px;
  font-family: "Roboto"; }

.wrapper {
  min-height: 100%; }

.col-centered {
  float: none;
  margin: 0 auto; }

.text-center {
  text-align: center; }

.container {
  max-width: 50rem; }

.Hero {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 2rem;
  color: #1D1D49; }
  .Hero__brand {
    max-width: 800px; }
  .Hero__logo {
    display: inline-block;
    background: url("../img/logo.svg") center no-repeat;
    width: 15rem;
    height: 6rem;
    margin-bottom: 1rem; }
  .Hero__title {
    font-weight: 300;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    color: #1D1D49; }

.navbar-logo {
  display: inline-block;
  background: url("../img/logo-mini.svg") center no-repeat;
  height: 2rem;
  width: 4rem; }

.navbar-logo--dark {
  display: inline-block;
  background: url("../img/logo-mini-dark.svg") center no-repeat;
  height: 2rem;
  width: 4rem; }

.Content {
  margin: 3rem 0; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 15rem;
  background-color: #1D1D49;
  color: #fff; }

.Button {
  font-weight: bold;
  padding: 0.5rem 1rem;
  display: inline-block;
  margin: auto;
  text-align: center;
  color: #1D1D49;
  background: transparent; }
  .Button:focus {
    outline: 0; }
  .Button__dark {
    border: 1px solid #1D1D49;
    border-radius: 999em; }
    .Button__dark:hover {
      background: #1D1D49;
      color: #fff;
      transition: 0.2s;
      cursor: pointer; }
  .Button__light {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 999em; }
    .Button__light:hover {
      background: #fff;
      color: #1D1D49;
      transition: 0.2s;
      cursor: pointer; }

.Feature {
  display: block;
  text-align: center;
  margin: 2rem 0; }
  .Feature__title {
    font-size: 1rem;
    line-height: 1.25rem; }
  .Feature__image {
    display: inline-block;
    height: 5rem;
    width: 10rem;
    margin: 0.75rem; }
    .Feature__image--interface {
      background: url("../img/interface.svg") center no-repeat; }
    .Feature__image--music {
      background: url("../img/music.svg") center no-repeat; }
  .Feature__imageSquare {
    display: inline-block;
    height: 3rem;
    width: 3rem; }
    .Feature__imageSquare--photoshop {
      background: url("../img/photoshop.svg"); }
    .Feature__imageSquare--illustrator {
      fill: red;
      background: url("../img/illustrator.svg"); }
    .Feature__imageSquare--sketch {
      background: url("../img/sketch.svg"); }
    .Feature__imageSquare--code {
      background: url("../img/code.svg"); }
    .Feature__imageSquare--person {
      background: url("../img/person.svg"); }

.Project {
  background: #333;
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.15);
  position: relative;
  transition: 0.15s ease-in-out; }
  .Project__hero {
    padding: 3rem 0 2rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .Project__block {
    height: 12rem; }
  .Project:hover {
    z-index: 1;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05); }
  .Project--light {
    background: #fff;
    color: #333; }
  .Project--bugsnag {
    background: #3676a1;
    background-image: -webkit-radial-gradient(rgba(123, 133, 244, 0.1), transparent), -webkit-radial-gradient(bottom right, ellipse, rgba(49, 196, 196, 0.3), transparent), -webkit-radial-gradient(bottom left, ellipse, rgba(36, 58, 168, 0.2), transparent), -webkit-linear-gradient(#2d6f95 38.6%, #215b82);
    background-image: radial-gradient(rgba(123, 133, 244, 0.1), transparent), radial-gradient(ellipse at bottom right, rgba(49, 196, 196, 0.3), transparent), radial-gradient(ellipse at bottom left, rgba(36, 58, 168, 0.2), transparent), linear-gradient(#2d6f95 38.6%, #215b82);
    color: #F3FBFF; }
  .Project--twitch {
    background: #5120b3;
    background: -moz-linear-gradient(45deg, #5120b3 0%, #6441a5 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #5120b3), color-stop(100%, #6441a5));
    background: -webkit-linear-gradient(45deg, #5120b3 0%, #6441a5 100%);
    background: -o-linear-gradient(45deg, #5120b3 0%, #6441a5 100%);
    background: -ms-linear-gradient(45deg, #5120b3 0%, #6441a5 100%);
    background: linear-gradient(45deg, #5120b3 0%, #6441a5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5120b3', endColorstr='#6441a5', GradientType=1 );
    color: #FCF5FF; }
  .Project--cover {
    background: #65ae7a;
    background: -moz-linear-gradient(-45deg, #65ae7a 0%, #479f90 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #65ae7a), color-stop(100%, #479f90));
    background: -webkit-linear-gradient(-45deg, #65ae7a 0%, #479f90 100%);
    background: -o-linear-gradient(-45deg, #65ae7a 0%, #479f90 100%);
    background: -ms-linear-gradient(-45deg, #65ae7a 0%, #479f90 100%);
    background: linear-gradient(135deg, #65ae7a 0%, #479f90 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65ae7a', endColorstr='#479f90', GradientType=1 );
    color: #FCF5FF; }
  .Project--whistle {
    background: #333333;
    background: -moz-linear-gradient(45deg, #333333 0%, #555564 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #333333), color-stop(100%, #555564));
    background: -webkit-linear-gradient(45deg, #333333 0%, #555564 100%);
    background: -o-linear-gradient(45deg, #333333 0%, #555564 100%);
    background: -ms-linear-gradient(45deg, #333333 0%, #555564 100%);
    background: linear-gradient(45deg, #333333 0%, #555564 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555564', endColorstr='#66674', GradientType=1 );
    color: #fff; }
  .Project--bonus {
    background: #cf36b5;
    background: -moz-linear-gradient(45deg, #cf36b5 0%, #e87fb2 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #cf36b5), color-stop(100%, #e87fb2));
    background: -webkit-linear-gradient(45deg, #cf36b5 0%, #e87fb2 100%);
    background: -o-linear-gradient(45deg, #cf36b5 0%, #e87fb2 100%);
    background: -ms-linear-gradient(45deg, #cf36b5 0%, #e87fb2 100%);
    background: linear-gradient(45deg, #cf36b5 0%, #e87fb2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf36b5', endColorstr='#e87fb2', GradientType=1 );
    color: #fff; }
  .Project__title {
    display: block;
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    font-weight: 500; }
  .Project__title a:hover {
    cursor: pointer;
    color: #fff;
    opacity: 0.75; }
  .Project__body {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    font-weight: 300; }
  .Project__preview {
    margin-bottom: 4rem; }
    .Project__preview img {
      display: block;
      margin: auto;
      width: auto;
      max-width: 100%;
      margin-bottom: 2rem;
      background-position: center;
      background-size: contain; }
  .Project__content {
    margin-top: 2rem;
    margin-bottom: 2rem; }

/*# sourceMappingURL=index.css.map */
