* {
  text-decoration: none;
  outline: 0; }

html {
  text-rendering: optimizeLegibility; }

body {
  margin: 0 auto;
  font-size: 15px;
  font-family: "Roboto";
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/geometry.png"); }

.container-fluid {
  max-width: 800px; }

.col-centered {
  float: none;
  margin: 0 auto; }

.text-center {
  text-align: center; }

.Hero {
  width: 100%;
  padding-top: 2rem;
  background: #fff;
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px rgba(0, 0, 0, 0.12);
  color: #1D1D49; }
  .Hero__brand {
    max-width: 800px;
    margin-bottom: 3rem; }
  .Hero__logo {
    display: inline-block;
    background: url("../img/logo.svg") center no-repeat;
    width: 15rem;
    height: 6rem; }
  .Hero__title {
    font-weight: 300;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
    color: #1D1D49; }

.Footer {
  padding: 3rem 0;
  background-color: #1D1D49; }

.Button {
  font-weight: bold;
  padding: 0.5rem 1rem;
  display: inline-block;
  margin: auto;
  text-align: center;
  color: #1D1D49;
  background: transparent; }
  .Button:focus {
    outline: 0; }
  .Button__dark {
    border: 1px solid #1D1D49;
    border-radius: 999em; }
    .Button__dark:hover {
      background: #1D1D49;
      color: #fff;
      transition: 0.2s;
      cursor: pointer; }
  .Button__light {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 999em; }
    .Button__light:hover {
      background: #fff;
      color: #1D1D49;
      transition: 0.2s;
      cursor: pointer; }

.Feature {
  display: block;
  text-align: center;
  margin: 2rem 0; }
  .Feature__title {
    font-size: 1rem;
    line-height: 1.25rem; }
  .Feature__image {
    display: inline-block;
    height: 5rem;
    width: 10rem;
    margin: 0.75rem; }
    .Feature__image--interface {
      background: url("../img/interface.svg") center no-repeat; }
    .Feature__image--music {
      background: url("../img/music.svg") center no-repeat; }
  .Feature__imageSquare {
    display: inline-block;
    height: 3rem;
    width: 3rem; }
    .Feature__imageSquare--photoshop {
      background: url("../img/photoshop.svg"); }
    .Feature__imageSquare--illustrator {
      fill: red;
      background: url("../img/illustrator.svg"); }
    .Feature__imageSquare--sketch {
      background: url("../img/sketch.svg"); }
    .Feature__imageSquare--code {
      background: url("../img/code.svg"); }
    .Feature__imageSquare--person {
      background: url("../img/person.svg"); }

.Project {
  background: #333;
  overflow: hidden;
  margin-bottom: 3rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15); }
  .Project--bugsnag {
    background: #3676a1;
    background-image: -webkit-radial-gradient(rgba(123, 133, 244, 0.1), transparent), -webkit-radial-gradient(bottom right, ellipse, rgba(49, 196, 196, 0.3), transparent), -webkit-radial-gradient(bottom left, ellipse, rgba(36, 58, 168, 0.2), transparent), -webkit-linear-gradient(#2d6f95 38.6%, #215b82);
    background-image: radial-gradient(rgba(123, 133, 244, 0.1), transparent), radial-gradient(ellipse at bottom right, rgba(49, 196, 196, 0.3), transparent), radial-gradient(ellipse at bottom left, rgba(36, 58, 168, 0.2), transparent), linear-gradient(#2d6f95 38.6%, #215b82); }
  .Project--twitch {
    background: #6441a5; }
  .Project__title {
    color: #fff;
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500; }
  .Project__title a:hover {
    cursor: pointer;
    color: #fff;
    opacity: 0.75; }
  .Project__body {
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    font-weight: 300;
    opacity: 0.95; }
  .Project__preview {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 3px; }
  .Project__image {
    border-radius: 3px;
    margin-bottom: 2rem;
    display: block;
    height: 22rem;
    max-height: 25rem;
    width: 100%;
    background: #fff no-repeat;
    background-size: cover;
    background-position: top left; }
    .Project__image--bugsnag {
      background-image: url("../img/error-list.png"); }
    .Project__image--twitch {
      background-image: url("../img/twitch.png"); }
  .Project__content {
    margin-top: 2rem;
    color: #fff;
    margin-bottom: 2rem; }

/*# sourceMappingURL=index.css.map */
