* {
  text-decoration: none;
  outline: 0;
}
html, body {
  height: 100%;
}
html {
  text-rendering: optimizeLegibility;
}
body {
  background: #f4f8f9;
  min-height: 100%;
  overflow: auto;
  padding-bottom: 15rem;
  margin: 0 auto;
  font-size: 15px;
  font-family: "Roboto";
}
.wrapper {
  min-height: 100%;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.text-center {
  text-align: center;
}

.container {
  padding: 0 2rem;
  box-sizing: border-box;
  max-width: 50rem;
}
.Content {
  padding-bottom: 2rem;
}
.Hero {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 2rem;
  color: #1D1D49;

  &__brand {
    max-width: 800px;

  }
  &__logo {
    display: inline-block;
    background: url("../img/logo.svg") center no-repeat;
    width: 15rem;
    height: 6rem;
    margin-bottom: 1rem;
  }
  &__title {
    font-weight: 300;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    color: #1D1D49;
  }
}
.navbar {
  padding: 0.5rem 0;
}
.navbar-logo {
  display: inline-block;
  background: url("../img/logo-mini.svg") center no-repeat;
  height: 2rem;
  width: 4rem;
}
.navbar-logo--dark {
  display: inline-block;
  background: url("../img/logo-mini-dark.svg") center no-repeat;
  height: 2rem;
  width: 4rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 15rem;
  background-color: #1D1D49;
  color: #fff;
}
.Button {
  font-weight: bold;
  padding: 0.5rem 1rem;
  display: inline-block;
  margin: auto;
  text-align: center;
  color: #1D1D49;
  background: transparent;

  &:focus {
    outline: 0;
  }
  &__dark {
    border: 1px solid #1D1D49;
    border-radius: 999em;

    &:hover {
      background: #1D1D49;
      color: #fff;
      transition: 0.2s;
      cursor: pointer;
    }
  }
  &__light {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 999em;

    &:hover {
      background: #fff;
      color: #1D1D49;
      transition: 0.2s;
      cursor: pointer;
    }
  }
}

.Feature {
  display: block;
  text-align: center;
  margin: 2rem 0;

  &__title {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  &__image {
    display: inline-block;
    height: 5rem;
    width: 10rem;
    margin: 0.75rem;
    &--interface {
      background: url("../img/interface.svg") center no-repeat;
    }
    &--music {
      background: url("../img/music.svg") center no-repeat;
    }
  }
  &__imageSquare {
    display: inline-block;
    height: 3rem;
    width: 3rem;

    &--photoshop {
      background: url("../img/photoshop.svg");
    }
    &--illustrator {
      fill: red;
      background: url("../img/illustrator.svg");
    }
    &--sketch {
      background: url("../img/sketch.svg");
    }
    &--code {
      background: url("../img/code.svg");
    }
    &--person {
      background: url("../img/person.svg");
    }
  }
}

.Project {
  background: #333;
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.15);
  position: relative;
  transition: 0.15s ease-in-out;
  &__hero {
    padding: 2rem 0 2rem 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  &__block {
    height: 12rem;
  }
  &:hover {
    z-index: 1;
    box-shadow: 0 5px 18px rgba(0,0,0,0.15), 0 2px 6px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.05);
  }
  &--light {
    background: #fff;
    color: #333;
  }
  &--bugsnag {
    background: #3676a1;
    background-image: -webkit-radial-gradient(rgba(123,133,244,0.1),rgba(0,0,0,0)),-webkit-radial-gradient(bottom right,ellipse, rgba(49,196,196,0.3),rgba(0,0,0,0)),-webkit-radial-gradient(bottom left,ellipse, rgba(36,58,168,0.2),rgba(0,0,0,0)),-webkit-linear-gradient(#2d6f95 38.6%, #215b82);
    background-image: radial-gradient(rgba(123,133,244,0.1),rgba(0,0,0,0)),radial-gradient(ellipse at bottom right, rgba(49,196,196,0.3),rgba(0,0,0,0)),radial-gradient(ellipse at bottom left, rgba(36,58,168,0.2),rgba(0,0,0,0)),linear-gradient(#2d6f95 38.6%, #215b82);
    color: #F3FBFF;
  }
  &--twitch {
    background: rgba(81,32,179,1);
    background: -moz-linear-gradient(45deg, rgba(81,32,179,1) 0%, rgba(100,65,165,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(81,32,179,1)), color-stop(100%, rgba(100,65,165,1)));
    background: -webkit-linear-gradient(45deg, rgba(81,32,179,1) 0%, rgba(100,65,165,1) 100%);
    background: -o-linear-gradient(45deg, rgba(81,32,179,1) 0%, rgba(100,65,165,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(81,32,179,1) 0%, rgba(100,65,165,1) 100%);
    background: linear-gradient(45deg, rgba(81,32,179,1) 0%, rgba(100,65,165,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5120b3', endColorstr='#6441a5', GradientType=1 );
    color: #FCF5FF;
  }
  &--cover {
    background: rgba(101,174,122,1);
    background: -moz-linear-gradient(-45deg, rgba(101,174,122,1) 0%, rgba(71,159,144,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(101,174,122,1)), color-stop(100%, rgba(71,159,144,1)));
    background: -webkit-linear-gradient(-45deg, rgba(101,174,122,1) 0%, rgba(71,159,144,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(101,174,122,1) 0%, rgba(71,159,144,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(101,174,122,1) 0%, rgba(71,159,144,1) 100%);
    background: linear-gradient(135deg, rgba(101,174,122,1) 0%, rgba(71,159,144,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65ae7a', endColorstr='#479f90', GradientType=1 );
    color: #FCF5FF;
  }
  &--whistle {
    background: rgba(51,51,51,1);
    background: -moz-linear-gradient(45deg, rgba(51,51,51,1) 0%, rgba(85,85,100,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(51,51,51,1)), color-stop(100%, rgba(85,85,100,1)));
    background: -webkit-linear-gradient(45deg, rgba(51,51,51,1) 0%, rgba(85,85,100,1) 100%);
    background: -o-linear-gradient(45deg, rgba(51,51,51,1) 0%, rgba(85,85,100,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(51,51,51,1) 0%, rgba(85,85,100,1) 100%);
    background: linear-gradient(45deg, rgba(51,51,51,1) 0%, rgba(85,85,100,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555564', endColorstr='#66674', GradientType=1 );
    color: #fff;
  }
  &--bonus {
    background: rgba(207,54,181,1);
    background: -moz-linear-gradient(45deg, rgba(207,54,181,1) 0%, rgba(232,127,178,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(207,54,181,1)), color-stop(100%, rgba(232,127,178,1)));
    background: -webkit-linear-gradient(45deg, rgba(207,54,181,1) 0%, rgba(232,127,178,1) 100%);
    background: -o-linear-gradient(45deg, rgba(207,54,181,1) 0%, rgba(232,127,178,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(207,54,181,1) 0%, rgba(232,127,178,1) 100%);
    background: linear-gradient(45deg, rgba(207,54,181,1) 0%, rgba(232,127,178,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf36b5', endColorstr='#e87fb2', GradientType=1 );
    color: #fff;
  }

  &__title {
    display: block;
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  &__title a {
    &:hover {
      cursor: pointer;
      color: #fff;
      opacity: 0.75;
    }
  }
  &__body {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    font-weight: 300;
  }
  &__preview {
    margin-bottom: 4rem;


    & img {
      display: block;
      margin: auto;
      width: auto;
      max-width: 100%;
      margin-bottom: 2rem;
      background-position: center;
      background-size: contain;
    }
  }
  &__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
