@import url(css/components/reset.css);
* {
  outline: none;
  text-decoration: none; }

a:visited {
  color: #0000f0; }

html {
  text-rendering: optimizeLegibility;
  overflow: hidden;
  height: 100%; }

body {
  height: 100%;
  overflow: auto; }

html, body {
  padding: 0px;
  margin: 0px;
  font-size: 14px; }

body {
  font: 100% Helvetica, sans-serif;
  background-color: #efefef; }

.Container {
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row; }

.Sidebar {
  background: #fff;
  color: #0000F0;
  width: 20rem;
  height: 100%;
  position: fixed; }
  .Sidebar__description {
    font-size: 1.025rem;
    margin-right: 1rem;
    color: #333;
    line-height: 1.35rem;
    margin-bottom: 1.5rem; }
  .Sidebar__links {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 0.5rem; }
    .Sidebar__links > * {
      margin-bottom: 5px; }
  .Sidebar__icon {
    display: flex;
    flex: none;
    flex-direction: row;
    align-items: center;
    font-size: 0.95rem;
    justify-content: flex-start;
    height: 1.75rem;
    width: 100%;
    padding: 1rem 0.5rem;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    border: 1px solid #0000f0;
    letter-spacing: 0.25px;
    border-radius: 2px;
    transition: 0.15s; }
    .Sidebar__icon:last-of-type {
      margin-bottom: 0px; }
    .Sidebar__icon:hover {
      cursor: pointer;
      background: #0000f0;
      color: #fff; }
    .Sidebar__icon > * {
      margin-right: 8px; }
  .Sidebar__title {
    background: url("../img/Logo-white.svg") no-repeat;
    background-size: 100%;
    width: 100%;
    padding: 15.75%;
    box-sizing: border-box;
    margin-bottom: 2rem; }
  .Sidebar__subtitle {
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    opacity: 0.75; }

.Header {
  display: none;
  background: #0000F0;
  width: 100%;
  height: 4rem;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.025), 0 1px 2px rgba(0, 0, 0, 0.2); }
  .Header__title {
    float: left;
    margin-left: 1rem;
    background: url("../img/Logo-white.svg") no-repeat center;
    background-size: 100%;
    width: 10rem;
    height: 4rem;
    padding: 16%;
    box-sizing: border-box; }
  .Header__icon {
    float: right;
    font-size: 0.95rem;
    line-height: 2rem;
    margin: 1rem;
    padding: 0rem 0.75rem;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    letter-spacing: 0.25px;
    background-color: #FFF;
    color: #340041;
    border-radius: 2px;
    transition: 0.15s; }
    .Header__icon:last-of-type {
      margin-bottom: 0px; }
    .Header__icon:hover {
      cursor: pointer;
      background-color: #fff; }
    .Header__icon > * {
      margin-right: 8px; }
  .Header a {
    color: #0000f0; }
    .Header a:hover {
      color: #DC6464; }
  .Header__title {
    padding: 1.5rem 2rem;
    font-size: 1rem;
    line-height: 1.25rem; }

.Block__section {
  display: flex;
  padding: 1rem; }
  .Block__section--horizontal {
    flex-direction: row; }
  .Block__section--vertical {
    flex-direction: column; }

.Content {
  max-width: 720px;
  margin-left: 20rem;
  display: flex;
  flex-direction: column;
  padding: 2rem; }
  .Content__description {
    margin-right: 2.5rem;
    max-width: 560px;
    font-size: 1.125rem;
    line-height: 1.4rem;
    color: #333; }
  .Content__picture {
    width: 100%;
    display: block;
    overflow: hidden;
    background: #ccc; }
    .Content__picture img {
      width: 100%;
      height: auto; }
  .Content__item {
    width: 100%;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.055), 0px 1px 2px rgba(0, 0, 0, 0.125);
    margin-bottom: 1rem;
    overflow: hidden; }
  .Content__text {
    padding: 2rem;
    font-size: 1rem;
    width: 90%;
    max-width: 640px; }
  .Content__link {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    display: inline-block;
    transition: 0.12s linear; }
    .Content__link:hover {
      opacity: 0.75; }
  .Content__title {
    font-size: 1.4rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
    color: #222; }

@media (max-width: 640px) {
  .Sidebar {
    visibility: hidden;
    display: none;
    transition: 0.125s ease-in-out; }

  .Header {
    display: block;
    position: fixed;
    top: 0; }

  .Content {
    margin-top: 4rem;
    margin-left: 0rem;
    transition: 0.125s ease-in-out; } }
@media (min-width: 800px) {
  .Sidebar {
    visibility: visible;
    transition: 0.125s ease-in-out; }

  .Content {
    margin-left: 20rem;
    transition: 0.125s ease-in-out; } }

/*# sourceMappingURL=index.css.map */
